<!DOCTYPE html>
<html>
    <title>
        blogi
    </title>
    <body>
        <header>
            <h1><a href="/">blogi</a></h1>
        </header>

        <article>
            <time>Jukistettu 27.4.2022, 10:30</time>
            <h2><a href="">Ensimäinen asia</a></h2>
            <p>sisältö</p>
        </article>
<br>
<br>
<br>
        <article>
            <time>Jukistettu 27.4.2022, 11:00 </time>
            <h2><a href="">Toinen asia</a></h2>
            <p>sisältööööö</p>
        </article>
    </body>
</html>